@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Pacifico&family=Righteous&family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Belanosima&family=Edu+TAS+Beginner&family=Playpen+Sans&family=Lobster+Two&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&family=Gabarito:wght@700&family=Zen+Dots&family=Homemade+Apple&family=Epilogue:wght@900&family=Merienda:wght@500&display=swap');


*{
    margin:0;
    padding:0;
    list-style: none;
    text-decoration: none;
   
}
html,body
{
    width:100%;
    height:100%;

}

.navbar{

    height:16vh;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: #F0FCF3;

}
 /* logoA styling */
.logo_1{

    width:150px;
    height:18px;
    position: absolute;
    left:40px;
    top:40px;
    
}

    /* nav-items styling */

.nav_items{
    display: flex;
    padding-left: 2rem;
    gap:4px;
    margin-right:1rem;
    margin-left: 8rem;
    /* background-color: #b4c1c1; */
}
.nav_items>li{

padding: 10px;
}
.nav_items>li>a
{
    color: black;
    font-size: 18px;
    font-family: 'Righteous','Montserrat';
    letter-spacing: 1.5px;
    padding: 16px;
    transition: 0.2s ease-out;
    border-radius:100px 5px 100px;
}
.nav_items>li>a.act{
    color:white;
}

.nav_items>li>a:hover,.act
{
    background-color: rgba(43, 176, 31, 0.811);
    border-radius:100px 5px 100px  ;
    box-shadow: 6px 5px 2px  rgba(39, 148, 198, 0.55);
    
    background-image: url('../images/navleaf.jpg'); /* Change background image on hover */
    background-size: cover;
    color: white;
    
}

/* logoB styling */
.logoB{
    box-sizing: border-box;
    padding-right:1rem; 
    
}
.logo_3{

    width:44px;
    height:40px;
    margin-right: 1rem;
    padding: 5px;
    border-radius: 50%;
}
.logo_3:hover{
    background: radial-gradient(circle at 10% 20%, rgb(0, 255, 176) 0%, rgb(66, 105, 242) 90%);
}

.logo_4{

    width:35px;
    height:35px;
     padding: 5px;
    border-radius: 50%; 
 
}
.logo_4:hover{

    background: radial-gradient(circle at 10% 20%, rgb(0, 255, 176) 0%, rgb(66, 105, 242) 90%); 
      
  }
.ham{
    width:40px; 
    height:40px;
    display: none;
}
.cross{
    width:40px; 
    height:40px;
    display: none;
    position: fixed;
    right: 0;
    z-index: 4;
}

/* media query for section main-1 starts */

@media (max-width:1000px) {
    .nav_items{
        
        flex-direction: column;
        gap: 40px;
        align-items:flex-start;
        justify-content: flex-start;
        padding:10rem 40px 0px 20px;
        position: fixed;
        top:0;
        right:-30rem;
        margin:0;
        height: 100vh;
        width: 300px;
        z-index: 2;
        background: linear-gradient(200deg, rgb(228, 223, 223) 1%, #3ffbb3 78%,rgba(145, 219, 80, 0.616) 45%);
        border-radius: 40px 0 0 0;
        box-shadow: 0px 20px 40px rgba(16, 159, 18, 0.858);
        transition: 0.5s ease-in-out;

    }

    .ham{
        display: inline-block;
        margin-left: 2rem;
        margin-right: 1rem;
    }
    .cross{
        display: none;
        margin-left: 2rem;
        margin-right: 1rem;
    }

    .navdown1{
        width: 90%;
    }
    .navdown2{

        width: 100%;
        
        margin-left: 2.5rem;
    }
     
}
@media (min-width: 500px) and (max-width: 1000px) {

        .navdown2{
            width:96%;
            margin-left: 8rem;
        }
}
@media (max-width: 420px){
    .logo_1{
        width:120px;
        height:18px;
        top:45px;
        left: 10px;
    }
}
/* Navbar styling finished  completely*/


/* about page styling starts from here */

section{
    background-color: #F0FCF3;
}
.box1{
    display:flex;
    justify-content:center;
    align-items:center;
}
.our-history{
    background-color: #F0FCF3;
    flex: 1.5;
    display:flex;
    justify-content:center;
    align-items:center;
}

.our-history>h1{
    text-align: center;
    margin: 2rem;
    margin-bottom: 0;
    font-size: 28px;
    font-family: 'Special Elite', 'Helvetica Neue', Helvetica, Arial;

}


.our-history>ul{
    text-align: left;
    font-size: 22px;
    font-family: 'Playpen Sans','Helvetica Neue',Arial,sans-serif;
}
.our-history>ul>li{
    padding: 2rem;
}


.img1-box{
    background-color:#F0FCF3;
    flex: 1;
    
}
.img1-box>img{
   margin-top:1rem ;
    width:18rem;
    height: 36rem;
    margin-left: 2rem;
}
.wall{
    position: absolute;
    right: -4rem;
    display: none;
}
@media (max-width: 768px) {

    .box1{
        flex-direction: column;
    }
    
}


.box2{
    /* height: 100vh; */
    background-color:#F0FCF3;
    display:flex;
    justify-content:center;
    align-items:center;
    
}
.half-box{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    gap:40px;
}
.petals-hub{
    font-family: 'Merienda';
    padding: 20px 50px;
    font-size: 18px;
    box-sizing: border-box;
    text-align: justify;
    order:1;
    margin-top: 2rem;
}
.why-us{
  
    display:flex;
    justify-content:center;
    align-items:center;
    gap:5rem; 
    /* margin-top: 4rem; */
    order: 2;
}

.why-us h1{
    font-size: 28px;
    font-family: 'Special Elite', 'Helvetica Neue', Helvetica, Arial;
    margin: 2rem;
    white-space: nowrap;
}
.why-us ul{
    display:flex;
    flex-direction: column;
    gap:30px;
    text-align: left;
    font-size: 20px;
    font-family: 'Playpen Sans','Helvetica Neue',Arial,sans-serif;
}

.family-img-box {
    text-align: right;
    position: relative;
    /* background-color: #fff; */
}
.family-img-box img{
    border-radius: 50%;
}

@media (max-width: 780px) {
    .box2{
        flex-direction: column;
    }
}
@media (max-width: 480px) {
    .family-img-box img{
            width:100%;
            height:100%;
    }
}


/* footer section starts here */
.margin{
    background-color: #F0FCF3;
    height: 30vh;

}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    position: relative;
    width: 100%;
}

.footer-container {
    display: flex;
  
    justify-content: space-evenly;
    font-family: 'Montserrat',Arial, Helvetica, sans-serif;
}

.footer-section {
    flex: 1;
    margin: 0 20px;
}

.footer-section h3 {
    font-size: 16px;
    margin-bottom: 2rem;
}

.footer-box{
    list-style: none;
    padding: 0;
}

.footer-box li{
    margin-bottom: 8px;
}

.footer-link{
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s ease-in-out;
}

.footer-link:hover {
    color: #fdb813;
}

.footer-box li img{
    width:30px;
    height:26px;
    position: relative;
    top:8px;
    left: 10px;
}

.footer-bottom {
    margin:20px;
    text-align: center;
    padding-top: 10px;
    border-top: 2px solid #555;
}
#babypanda{
    width:200px;
}
#sidePlant{
    width:120px;

    position: absolute;
    bottom:75px;
    z-index: 100;
    transform: rotate(90deg);
}

.imgbox{
    width:100%;
    text-align: center;

}
#pinX{
    filter: brightness(2.8);
}
.logoImg{
    width:30px;
    height:30px;
    padding:2px 8px;
}

@media (max-width:800px) {
    #sidePlant{
        display: none;
    }
    .footer-container{
        flex-wrap: wrap;
    }
    #babypanda{
        max-width:250px;
        /* height:auto; */
    }
}