@import url('https://fonts.googleapis.com/css2?family=Belanosima&family=Montserrat:wght@700&family=Pacifico&family=Righteous&family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&family=Gabarito:wght@700&family=Zen+Dots&family=Homemade+Apple&family=Epilogue:wght@900&family=Merienda:wght@500&display=swap');

*{
    margin:0;
    padding:0;
    list-style: none;
    text-decoration: none;
 
}
html,body
{
    width:100%;
    height:100%;
    background: linear-gradient(to right, #F0FCF3, rgb(178, 234, 164));
}

.navbar{

    height:16vh;
   
    /* background-color: rgb(82, 223, 236); */
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: #F0FCF3;
    background: linear-gradient(to left, #F0FCF3 80%, rgb(178, 234, 164));


}
 /* logoA styling */
.logo_1{

    width:150px;
    height:18px;
    position: absolute;
    left:40px;
    top:40px;
    
}

    /* nav-items styling */

.nav_items{
    display: flex;
    padding-left: 2rem;
    gap:4px;
    margin-right:1rem;
    margin-left: 8rem;

}
.nav_items>li{

padding: 10px;
}
.nav_items>li>a
{
    color: black;
    font-size: 18px;
    font-family: 'Righteous','Montserrat';
    letter-spacing: 1.5px;
    padding: 16px;
    transition: 0.2s ease-out;
    border-radius:100px 5px 100px;
}
.nav_items>li>a.act{
    color:white;
}

.nav_items>li>a:hover,.act
{
    background-color: rgba(43, 176, 31, 0.811);
    border-radius:100px 5px 100px  ;
    box-shadow: 6px 5px 2px  rgba(39, 148, 198, 0.55);
    
    background-image: url('../images/navleaf.jpg'); /* Change background image on hover */
    background-size: cover;
    color: white;
    
}

/* logoB styling */
.logoB{
    box-sizing: border-box;
    padding-right:1rem; 
    
}
.logo_3{

    width:48px;
    height:45px;
    margin-right: 1rem;
    padding: 2px;
    background:linear-gradient(to bottom,yellow,orange);
    border-radius: 50%;
}

.logo_4{

    width:30px;
    height:30px;
   
    background: #F0FCF3;
    margin-bottom: 6px;
    border-radius: 10px;
 
}

.ham{
    width:40px; 
    height:40px;
    display: none;
}
.cross{
    width:40px; 
    height:40px;
    display: none;
    position: fixed;
    right: 0;
    z-index: 4;
}

/* Media query for navbar */

@media (max-width:1000px) {
    .nav_items{
        
        flex-direction: column;
        gap: 40px;
        align-items:flex-start;
        justify-content: flex-start;
        padding:10rem 40px 0px 20px;
        position: fixed;
        top:0;
        right:-30rem;
        margin:0;
        height: 100vh;
        width: 300px;
        z-index: 2;
        background: linear-gradient(200deg, rgb(228, 223, 223) 1%, #3ffbb3 78%,rgba(145, 219, 80, 0.616) 45%);
        border-radius: 40px 0 0 0;
        box-shadow: 0px 20px 40px rgba(16, 159, 18, 0.858);
        transition: 0.5s ease-in-out;

    }

    .ham{
        display: inline-block;
        margin-left: 2rem;
        margin-right: 1rem;
    }
    .cross{
        display: none;
        margin-left: 2rem;
        margin-right: 1rem;
    }

    .navdown1{
        width: 90%;
    }
    .navdown2{

        width: 100%;
        
        margin-left: 2.5rem;
    }
     
}
@media (min-width: 500px) and (max-width: 1000px) {

        .navdown2{
            width:96%;
            margin-left: 8rem;
        }
}
@media (max-width: 420px){
    .logo_1{
        width:120px;
        height:18px;
        top:45px;
        left: 10px;
    }
}
/* navbar styling ends here completely */
 *{
     margin:0;
     padding:0;
 }
 html,body {
     width:100%;
     height:100%;
     font-family: 'Arial', sans-serif;
     background-color: #f5f5f5;
     
 }
 header {
     background-color: #333;
     color: #fff;
     padding: 10px;
     text-align: center;
     
 }
 .boss{
     display:flex;
     justify-content:center;
     align-items:center;
     flex-direction: column;
     background: linear-gradient(180deg, #F0FCF3 65%, rgb(178, 234, 164));
     
 }
 .bill-container{
     width: 400px;
     height: 400px;
     background-color: orange;
 }
 .container {
     max-width: 600px;
     margin:2rem;
     background-color: #fff;
     padding: 20px;
     border-radius: 8px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 }
 .product {
     display: flex;
     align-items: center;
     justify-content: space-between;
     border-bottom: 1px solid #494343;
     padding-bottom: 10px;
     transition: background-color 0.2s;
     padding-top: 20px;
    padding-right: 20px;
 }
 .product:hover {
     background-color: #d3d3d3b5;
 }
 .product img {
     max-width:90px;
    border-radius: 10px ;
     margin-right: 20px;
 }
 .product-info {
     flex-grow: 1;
     height: 90px;
 }
 .product-name {
     font-size: 18px;
     font-weight: bold;
     font-family: 'Special Elite';
    
 }
 .product-quantity {
     display: flex;
     align-items: center;
     margin-bottom: 5px;
     gap: 20px;
     font-size: 20px;
     font-weight: bolder;
 }
 .quantity-btn {
     cursor: pointer;
     margin:1rem ;
     border-radius: 50%;
     width:30px;
     height:30px;
 }
 .quantity-btn:hover{
     filter: invert() brightness(2);
 }
 .product-price {
     color: #621616;
     font-weight: bold;
     font-size: 20px;
 }
 .total {
     text-align: right;
     margin-top: 20px;
     font-size: 24px;
     font-weight: bold;
 }
 .remove-btn {
     /* background-color: #ff5757; */
     color: #fff;
     border: none;
     width:20px;
     height:25px;
     margin-left: 4rem;
     border-radius: 5px;
     cursor: pointer;
 }
 .remove-btn img{
     width:100%;
     height:100%;
 }
 .checkout-btn {
     background-color: #4caf50;
     color: #fff;
     border: none;
     padding: 10px 20px;
     border-radius: 5px;
     cursor: pointer;
     font-size: 18px;
     margin-top: 20px;
 }
 .select-all {
     margin-bottom:2rem;
     font-size: 20px;
     font-family:Montserrat;
     font-weight: 700;
 }
 #select-all{
     width:20px; 
     height:20px;
     margin-left:1rem;
 }
.product-checkbox{
    width: 20px;
    height: 20px;
    margin: 2rem;
    border: 2px solid black;
    background:white;
}
