@import url('https://fonts.googleapis.com/css2?family=Belanosima&family=Montserrat:wght@700&family=Pacifico&family=Righteous&family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&family=Gabarito:wght@700&family=Zen+Dots&family=Homemade+Apple&family=Epilogue:wght@900&family=Merienda:wght@500&display=swap');

*{
    margin:0;
    padding:0;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', 'Helvetica';
 
}
html,body
{
    width:100%;
    height:100%;
    background-color: #F0FCF3;
}

.navbar{

    height:16vh;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: #F0FCF3;

}
 /* logoA styling */
.logo_1{

    width:150px;
    height:18px;
    position: absolute;
    left:40px;
    top:40px;
    
}

    /* nav-items styling */

.nav_items{
    display: flex;
    padding-left: 2rem;
    gap:4px;
    margin-right:1rem;
    margin-left: 8rem;

}
.nav_items>li{

padding: 10px;
}
.nav_items>li>a
{
    color: black;
    font-size: 18px;
    font-family: 'Righteous','Montserrat';
    letter-spacing: 1.5px;
    padding: 16px;
    transition: 0.2s ease-out;
    border-radius:100px 5px 100px;
}
.nav_items>li>a.act{
    color:white;
}

.nav_items>li>a:hover,.act
{
    background-color: rgba(43, 176, 31, 0.811);
    border-radius:100px 5px 100px  ;
    box-shadow: 6px 5px 2px  rgba(39, 148, 198, 0.55);
    
    background-image: url('../images/navleaf.jpg'); /* Change background image on hover */
    background-size: cover;
    color: white;
    
}

/* logoB styling */
.logoB{
    box-sizing: border-box;
    padding-right:1rem; 
    
}
.logo_3{

    width:42px;
    height:38px;
    margin-right: 1rem;
    padding: 5px;
    /* transform: scale(0.92); */
    background: radial-gradient(circle at 10% 20%, rgb(0, 255, 176) 0%, rgb(66, 105, 242) 90%);
    border-radius: 50%;
}

.logo_4{

    width:35px;
    height:35px;
     
    padding: 5px;
    /* background: radial-gradient(circle at 10% 20%, rgb(0, 255, 176) 0%, rgb(66, 105, 242) 90%); */
    border-radius: 50%; 
 
}
.logo_4:hover{

    background: radial-gradient(circle at 10% 20%, rgb(0, 255, 176) 0%, rgb(66, 105, 242) 90%); 
      
  }
  

.ham{
    width:40px; 
    height:40px;
    display: none;
}
.cross{
    width:40px; 
    height:40px;
    display: none;
    position: fixed;
    right: 0;
    z-index: 4;
}

/* Media query for navbar */

@media (max-width:1000px) {
    .nav_items{
        
        flex-direction: column;
        gap: 40px;
        align-items:flex-start;
        justify-content: flex-start;
        padding:10rem 40px 0px 20px;
        position: fixed;
        top:0;
        right:-30rem;
        margin:0;
        height: 100vh;
        width: 300px;
        z-index: 2;
        background: linear-gradient(200deg, rgb(228, 223, 223) 1%, #3ffbb3 78%,rgba(145, 219, 80, 0.616) 45%);
        border-radius: 40px 0 0 0;
        box-shadow: 0px 20px 40px rgba(16, 159, 18, 0.858);
        transition: 0.5s ease-in-out;

    }

    .ham{
        display: inline-block;
        margin-left: 2rem;
        margin-right: 1rem;
    }
    .cross{
        display: none;
        margin-left: 2rem;
        margin-right: 1rem;
    }

    .navdown1{
        width: 90%;
    }
    .navdown2{

        width: 100%;
        
        margin-left: 2.5rem;
    }
     
}
@media (min-width: 500px) and (max-width: 1000px) {

        .navdown2{
            width:96%;
            margin-left: 8rem;
        }
}
@media (max-width: 420px){
    .logo_1{
        width:120px;
        height:18px;
        top:45px;
        left: 10px;
    }
}
/* navbar styling ends here completely */
 
 header {
     background-color: #333;
     color: #fff;
     padding: 10px;
     text-align: center;
     
 }
 .boss{
     display:flex;
     justify-content:center;
     align-items:center;
     flex-direction: column;
     background: linear-gradient(180deg, #F0FCF3 65%, rgb(178, 234, 164));
     
 }
 .bill-container{
     width: 400px;
     height: 400px;
     background-color: orange;
 }
 .container {
     max-width: 600px;
     margin:2rem;
     background-color: #fff;
     padding: 20px;
     border-radius: 8px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 }
 .product {
     display: flex;
     align-items: center;
     justify-content: space-between;
     border-bottom: 2px solid #0a7462;
     padding-bottom: 10px;
     transition: background-color 0.2s;
     padding-top: 20px;
    padding-right: 20px;
 }
 .product:hover {
     background-color: #d3d3d3b5;
 }
 .product img {
     max-width:90px;
    border-radius: 10px ;
     margin-right: 20px;
 }
 .product-info {
     flex-grow: 1;
     height: 90px;
 }
 .product-name {
     font-size: 18px;
     font-weight: bold;
     font-family: 'Montserrat', sans-serif;
    
 }
 .product-quantity {
     display: flex;
     align-items: center;
     margin-bottom: 5px;
     gap: 20px;
     font-size: 20px;
     font-weight: bolder;
 }
 .quantity-btn {
     cursor: pointer;
     margin:1rem ;
     border-radius: 50%;
     width:30px;
     height:30px;
 }
 .quantity-btn:hover{
     filter: invert() brightness(2);
 }
 .product-price {
     color: #621616;
     font-weight: bold;
     font-size: 20px;
 }
 .total {
     text-align: right;
     margin-top: 20px;
     font-size: 20px;
     font-weight: bold;
     font-family: Arial, Helvetica, sans-serif;
 }
 .remove-btn {
     background-color: rgb(9, 56, 9);
     border: none;
     width:20px;
     height:25px;
     margin-left: 4rem;
     border-radius: 5px;
     cursor: pointer;
 }
 .remove-btn img{
     width:100%;
     height:100%;
 }
 .checkout-btn {
     background-color: #4caf50;
     color: #fff;
     border: none;
     padding: 10px 20px;
     border-radius: 5px;
     cursor: pointer;
     font-size: 18px;
     margin-top: 20px;

 }
 .checkout-btn:hover{
    background-color:  rgba(58, 150, 61, 0.989)
 }
 .select-all {
     margin-bottom:2rem;
     font-size: 20px;
     font-weight: 700;

     
 }
 #select-all{
     width:20px; 
     height:20px;
     margin-left:1rem;
    position: relative;
    top:4px;
 }
.product-checkbox{
    width: 20px;
    height: 20px;
    margin: 2rem;
    border: 2px solid black;
    background:white;
}

#save-cart{
    padding: 10px;
    border-radius: 20px 10px 40px 20px;
    
    color: white;
    font-weight: bold;
    /* font-family: 'Belanosima'; */
    border: 2px solid #2b5876;
    box-shadow: inset 2px 4px 10px rgb(28, 112, 28);
    background: linear-gradient(45deg,#3da4a7  ,#0cab90);
    font-size: 16px;
    transform: translateX(8rem);
    transition: 1ms ease-in-out
}
#save-cart:hover{
    transform: translateX(8rem) scale(1.02);
    /* box-shadow: inset 0px 10px 10px #2b5876; */
    border-color: black;
    background: linear-gradient(45deg,#2d6a6c  ,#0a7462);
}

#save-cart:active{
    transform: translateX(8rem) scale(1);
    /* box-shadow: inset 0px 10px 10px #2b5876; */
    border-color: black;
    background: linear-gradient(45deg,#2d6a6c  ,#0a7462);
}



/* Add these styles within the media query for responsiveness */

@media only screen and (max-width: 560px) {
    .product {
        width: 100%;
        flex-direction: column; /* Stack products vertically on smaller screens */
        align-items: center; /* Center items horizontally */
        padding: 15px 0; /* Adjusted padding for better spacing on smaller screens */
        border: 2px solid #0a7462;

    }

    .product img {
        max-width: 90px; /* Ensure images are responsive within their container */
        margin-bottom: 10px; /* Move image margin to the bottom for better spacing */
    }

    .product-info {
        margin-top: 0; /* No need for additional top margin */
        width: auto; /* Reset width to auto for horizontal alignment */
        display: flex;
        align-items: center; /* Align items horizontally */
        flex-direction: column; /* Stack elements vertically within product info */
    }

    .product-name {
        font-size: 18px; /* Adjust font size for better readability on smaller screens */
        margin-bottom: 10px; /* Add margin between product name and other elements */
    }

    .product-quantity {
        display: flex;
        align-items: center; /* Align quantity and buttons horizontally */
        gap: 20px; /* Adjust gap between elements for better spacing */
        margin-bottom: 10px; /* Add margin between quantity and remove button */
    }

    .quantity-btn {
        width: 25px; /* Adjusted width for better spacing on smaller screens */
        height: 25px; /* Adjusted height for better spacing on smaller screens */
    }

    .remove-btn {
        margin-left:4rem; /* Remove left margin */
        margin-top: 10px; /* Add top margin for spacing */
    }
}

#custom-notification {
    position: fixed;
    top: 4px;
    left: 50%;
    transform: translateX(-50%);
    background:linear-gradient(to bottom,#06be68bd 40%,#2b5a60c5 60%);
    color:white;
    font-weight: bold;
    padding: 10px 25px;
    
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    opacity: 0;
    font-size: 18px;
    letter-spacing:1px;
    font-family:'Montserrat', 'Helvetica Neue';
    transition: opacity 0.5s ease-in-out;
    z-index: 120;
 }
 #custom-notification.show {
    opacity: 1;
}

#custom-notification.hidden {
    display: none;
}




/* Payment gateway */
#payment-div {
    display: none;
    padding: 20px;
    border: 1px solid #ccc;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index:45;
    text-align: center;
    border-radius: 30px;
    box-shadow:2px 2px 2px #0cab90;
    background:linear-gradient(45deg,#7F7FD5,#86A8E7,#91EAE4);
}

#payment-form {
    display: flex;
    flex-direction: column;
    gap: 26px;
    padding:30px;
    max-width: 250px;
    align-items: center;
    justify-content:space-evenly;
    position: relative;
}

#payment-method {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    font-size: 15px;
}


label {
    font-weight: bold;
    letter-spacing: 0.5px;
    word-spacing: 2px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 15px;    
    font-size: 14px;
}

#submit-payment {
    margin:10px;   
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 40px;
    font-size: 16px;
    /* font-family:'Righteous', sans-serif; */
}
#submit-payment:hover{
    background:linear-gradient(45deg,#DE6262,#943e09);
    color: white;
}

.hidden {
    display: none;
}
.cross-icon{
    position: absolute;
    width:30px; 
    height:30px;
    top:15px;
    right: 10px;
    border: 2px solid white;
    border-radius: 50%;
}
.cross-icon:hover{
    filter: invert();
    border: 2px solid white;
    background-color: #c6d3dc;
    border-radius: 50%;
}

.amt-payment{
    font-size: 18px;

}
.amt-payment span{
    letter-spacing: 1px;
}

@media (max-width:760px) {

    #payment-form {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding:40px;
       min-width: 250px;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    
}