*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-size: 10px;
}
body
{
    height: 100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}
.box{
    width:40vw;
    height:50vh;
    background-color: pink;
}