
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Righteous&family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&family=Playpen+Sans&display=swap');
*{
    margin:0;
    padding:0;
    list-style: none;
    text-decoration: none;
    background-color:#F0FCF3 ;
}
html,body
{
    width:100%;
    height:100%;
    /* background-color: #F0FCF3; */
}

/* Navbar styling starts from here */

.main1{

    /* height: 90vh; */

}
.navbar{

    height:16vh;
    align-items: center;
    /* background-color: rgb(82, 223, 236); */
    display: flex;
    justify-content:space-between;
    background-color: #F0FCF3;
}
 /* logoA styling */
.logo_1{

    width:150px;
    height:18px;
    position: absolute;
    left:50px;
    top:35px;
    
}

    /* nav-items styling */

.nav_items{
    display: flex;
    padding-left: 2rem;
    gap:38px;
    margin-right:1rem;
    margin-left: 6rem;
}
.nav_items>li{

padding: 10px;
}
.nav_items>li>a
{
    color: black;
    font-size: 18px;
    font-family: 'Righteous','Montserrat';
    letter-spacing: 1.5px;
    
}

/* logoB styling */
.logoB{
    box-sizing: border-box;
    padding-right:1rem; 
    
}
.logo_3{

    width:48px;
    height:45px;
    padding-right: 2rem;
    padding-left: 1rem;
    background-color: #F0FCF3;
}

.logo_4{

    width:30px;
    height:30px;
    padding: 1px;
    background-color: #F0FCF3;
    margin-bottom: 4px;
    border-radius: 10px;
 
}

/* Navbar styling finished */

/* navdown styling begins */
.navdown{
    /* background-color: turquoise; */
    padding-top: 2rem;
    display: flex;
    flex-wrap: wrap;
}
.navdown1{

    /* background-color: coral; */
    width: 50%;
    text-align: center;
    display:flex;
    justify-content:center;
    align-items:center;

}
.navdown2{

    background-color: khaki;
    width: 50%;
}
.head_plant{

    width:100%;
    height:100%;
    float: right;
    
}
/* navdown1 inside styling */
.downbox{
    background-color:#F0FCF3;
    width: 90%;
    height: auto;
}
.downbox h1{
    font-size: 40px;
    text-align:start;
    word-spacing: 8px;
    line-height: 1.4;
    font-family: 'Playpen Sans';
    text-align: left;
}
.downbox h1 span{
    color: rgb(25, 250, 85);
    text-shadow: 2px 1px 2px #b4c1c1;
    font-family: 'Charm';
    font-style: italic;
    letter-spacing: -2px;
    font-weight: lighter;
    font-size: 45px;
    font-family:Georgia, 'Times New Roman', Times, serif;

}

.downbox h1::after{
    content: "Discover a world of gardening and home decor delights in one place";
    display: block;
    padding-top: 40px;
    font-family: cursive;
    font-weight: lighter;
    font-size: 20px;
    text-align: left ;
    padding-bottom: 5rem;
    background-color: #F0FCF3;
}
.downbox h1::first-letter{
    font-size: 55px;
    color: rgb(11, 107, 60);
}
.down-button{
    color:rgb(17, 176, 20);;
    /* background-color: rgb(17, 176, 20); */
    border: 2px solid  rgb(17, 176, 20);
    padding: 10px 20px 10px 20px;
    border-radius: 40px; 
    font-size: 16px;
    font-weight: bolder;
    display: inline-block;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 rgb(17, 176, 20);
    transition: ease-in-out 0.4s;
    margin-bottom: 4rem;
    float: left;
  }
  .down-button:hover {
    box-shadow: inset 400px 0 0 0 rgb(17, 176, 20);
    border-radius: 0px; 
    color: white;
  }  
  .down-button:active{
    box-shadow: inset 400px 0 0 0 rgb(16, 159, 18);
    transform: scale(0.98);
    transition-duration: 1ms;
  }

@media (max-width:900px) {
     .navdown{
        flex-direction: column;
    } 
    .navdown1{
        width: 90%;
    }
    .navdown2{

        width: 100%;
    }
     
    .nav_items{
        display: none;
    }
}

