@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Pacifico&family=Righteous&family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Belanosima&family=Edu+TAS+Beginner&family=Playpen+Sans&family=Lobster+Two&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&family=Gabarito:wght@700&family=Zen+Dots&family=Homemade+Apple&family=Epilogue:wght@900&family=Merienda:wght@500&display=swap');


*{
    margin:0;
    padding:0;
    list-style: none;
    text-decoration: none;
   
}
html,body
{
    width:100%;
    height:100%;

}

.navbar{

    height:16vh;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: #F0FCF3;

}
 /* logoA styling */
.logo_1{

    width:150px;
    height:18px;
    position: absolute;
    left:40px;
    top:40px;
    
}

    /* nav-items styling */

.nav_items{
    display: flex;
    padding-left: 2rem;
    gap:4px;
    margin-right:1rem;
    margin-left: 8rem;
    /* background-color: #b4c1c1; */
}
.nav_items>li{

padding: 10px;
}
.nav_items>li>a
{
    color: black;
    font-size: 18px;
    font-family: 'Righteous','Montserrat';
    letter-spacing: 1.5px;
    padding: 16px;
    transition: 0.2s ease-out;
    border-radius:100px 5px 100px;
}
.nav_items>li>a.act{
    color:white;
}

.nav_items>li>a:hover,.act
{
    background-color: rgba(43, 176, 31, 0.811);
    border-radius:100px 5px 100px  ;
    box-shadow: 6px 5px 2px  rgba(39, 148, 198, 0.55);
    
    background-image: url('../images/navleaf.jpg'); /* Change background image on hover */
    background-size: cover;
    color: white;
    
}

/* logoB styling */
.logoB{
    box-sizing: border-box;
    padding-right:1rem; 
    
}
.logo_3{

    width:44px;
    height:40px;
    margin-right: 1rem;
    padding: 5px;
    border-radius: 50%;
}
.logo_3:hover{
    background: radial-gradient(circle at 10% 20%, rgb(0, 255, 176) 0%, rgb(66, 105, 242) 90%);
}

.logo_4{

    width:35px;
    height:35px;
     padding: 5px;
    border-radius: 50%; 
 
}
.logo_4:hover{

    background: radial-gradient(circle at 10% 20%, rgb(0, 255, 176) 0%, rgb(66, 105, 242) 90%); 
      
  }
.ham{
    width:40px; 
    height:40px;
    display: none;
}
.cross{
    width:40px; 
    height:40px;
    display: none;
    position: fixed;
    right: 0;
    z-index: 4;
}

/* media query for section main-1 starts */

@media (max-width:1000px) {
    .nav_items{
        
        flex-direction: column;
        gap: 40px;
        align-items:flex-start;
        justify-content: flex-start;
        padding:10rem 40px 0px 20px;
        position: fixed;
        top:0;
        right:-30rem;
        margin:0;
        height: 100vh;
        width: 300px;
        z-index: 2;
        background: linear-gradient(200deg, rgb(228, 223, 223) 1%, #3ffbb3 78%,rgba(145, 219, 80, 0.616) 45%);
        border-radius: 40px 0 0 0;
        box-shadow: 0px 20px 40px rgba(16, 159, 18, 0.858);
        transition: 0.5s ease-in-out;

    }

    .ham{
        display: inline-block;
        margin-left: 2rem;
        margin-right: 1rem;
    }
    .cross{
        display: none;
        margin-left: 2rem;
        margin-right: 1rem;
    }

    .navdown1{
        width: 90%;
    }
    .navdown2{

        width: 100%;
        
        margin-left: 2.5rem;
    }
     
}
@media (min-width: 500px) and (max-width: 1000px) {

        .navdown2{
            width:96%;
            margin-left: 8rem;
        }
}
@media (max-width: 420px){
    .logo_1{
        width:120px;
        height:18px;
        top:45px;
        left: 10px;
    }
}

/* Navbar styling finished */

/* section main-2 styling */

:root {
    --Head: #706233;
    --line: #BA704F;
  }

.main-2 {
    width: 100%;
    background-color: #F0FCF3;
    padding-top: 2rem; /* Adjust the value as needed */
}
.our-product {
    
    text-align: center;
    background-color: #F0FCF3;
    text-align: center;
    padding-bottom: 1rem;

}
.featured{
    padding-top: 2.5rem;
    background-color: #F0FCF3;
    text-align: center;
    text-transform: capitalize;
    font-family: 'Pacifico';
    word-spacing: 18px;
    letter-spacing: 2px;
    color:#219C90;
    font-size: 28px;
}


.featured::before,
.featured::after {
    display: inline-block;
    content: "";
    border-top: 4px solid var(--line);
    width: 16%;
    margin: 0.4rem 2%;
    white-space: nowrap;
    
}


.featured>span {
    font-family: 'Merienda';
    font-size: 40px;
    color: #1D5B79;

}

.item-set {
  
    display: grid;
    column-gap: 60px;
    row-gap: 90px;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(2, 250px);
    justify-content: center;
    padding-bottom: 60px;
}

.item-btn{
    position: relative;
    top:200px;
    border: 2px solid  rgb(17, 176, 20);
    padding: 10px 20px 10px 20px;
    border-radius: 40px; 
    font-size: 16px;
    font-weight: bolder;
    display: inline-block;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 rgb(17, 176, 20);
    background-color: #bdded2b6;
    transition: ease-in-out 0.4s;
    margin-bottom: 4rem;
    
}
.item-btn:hover {
    box-shadow: inset 400px 0 0 0 rgb(17, 176, 20);
    border-radius: 0px; 
    color: white;
   
  }  
.item-btn:active{
    box-shadow: inset 400px 0 0 0 rgb(16, 159, 18);
    transform: scale(0.98);
    transition-duration: 0.2ms;
  }
.pditem-1{
    background: url('../images/flowerX.png');

}
.pditem-2{
    background: url('../images/artPots.png');

}
.pditem-3{
    background: url('../images/seeds.png');
}
.pditem-4{
    background: url('../images/GardenX.png');
}
.pditem-5{
    background: url('../images/ogy.png');
}
.pditem-6{
    background: url('../images/car.png');
    
}
.product-item{
    min-height: 250px; /* Set a minimum height */
    width: 200px;
    border-radius: 100px 100px 20px 20px;
    background-color: #c0c7c16e;
    background-size: cover;
    background-position: center;
 
}
 .product-item:hover{

    transform: scale(1.05);
    background-color:rgba(255, 228, 196, 0.753) ;
} 

.items-head{
    position: relative;
    top:10rem;
    font-size: 18px;
    font-family: cursive;
    letter-spacing: 2px;
}
/* Media query for screens with a width less than 768px */
@media screen and (max-width: 768px) {
    .item-set {
        grid-template-columns: repeat(2, 200px);
    }
}

/* Media query for screens with a width less than 480px */
@media screen and (max-width: 480px) {
    .item-set {
        grid-template-columns: repeat(1, 200px);
    }
}


